.autocomplete {
  position: relative;
  width: 100%;
  display: inline-block;
}
.autocomplete-list {
  color: #738a9a;
  background: #fafafa;
  border: 1px solid #dee3ea;
  -webkit-box-shadow: 0 1px 3px rgba(2, 8, 20, 0.06), 0 1px 2px rgba(2, 8, 20, 0.04);
  box-shadow: 0 1px 3px rgba(2, 8, 20, 0.06), 0 1px 2px rgba(2, 8, 20, 0.04);
  padding: 0;
  max-height: 10rem;
  overflow: auto;
  display: none;
}
.autocomplete-list.show {
  display: block;
}
.autocomplete-list li {
  cursor: pointer;
  padding: 0.2rem 1rem;
}
.autocomplete-list li:hover,
.autocomplete-list li:active {
  background: #eee;
  font-weight: 500;
  color: #020814;
}
.autocomplete-list li.selected {
  font-weight: 500;
  color: #020814;
}
